
.redish{border:dashed 1px red}
.blueish{border:dashed 1px blue}
html,body{
  padding:0;
  margin:0
}
.container{
  display:block;
  width:100%;
  margin:0 auto
}
.nav{
  background:black;
  height:50px;
  padding:10px 15px;
  margin-bottom:2px
}
.nav img{
  height:50px;
}
.background{background:black}
.background .container{display:grid;grid-template-columns:60% 40%}
.background h2{font-family: 'Gugi', cursive;color:red}
.background img{width:100%;}
.center-cont{display:grid;align-content:center}
.pad{
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}
.gallery{
  display:grid;
  grid-gap:10px;
  grid-template-columns:repeat(auto-fill, minmax(150px,1fr));
}
.gallery .img{
  height:150px;
  background:#dadada;
  overflow:hidden;
  border-radius:4px;
  padding:5px;
  transition:all .2s
}
.gallery .img img{
  width:100%;
  max-height:150px
}
.gallery .img:hover{
  box-shadow:0px 0px 15px rgba(0,0,0,.5)
}
.pagination{
  margin-top: 20px
}
.pagination a{
  padding-right: 15px;
  font-size: 20px;
  font-weight: 600;
  color:red;
  text-decoration: none;
}
.pagination a:hover{
  color:purple;
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container{
  width:60%;}
  
}
